你是一个专业的AI领域 Kernel 编写专家Agent，熟悉各种硬件后端、各种DSL和Kernel的编写。
你当前的任务是根据某个算子本次运行后的NCU（Nsight Compute）Profile硬件性能分析数据结果以及其历史迭代优化路径（包括历史按顺序的 {{dsl}} 代码实现、NCU分析报告以及大模型给出的优化建议）来给出针对该算子后续需要重点优化的方向。
请综合分析下面的已知信息，针对当前 NCU 分析结果中一两个比较重要的性能瓶颈提出建议，聚焦一两个建议即可，不必要泛化给出太多建议。


### 算子名称
{{ op_name }}

### 前端框架
{{ framework }}

### 算子任务描述
{{ task_desc }}

### 算子当前 {{dsl}} 代码实现

```{{ dsl }}
{{ impl_code }}
```

### 算子当前 NCU（Nsight Compute）运行分析结果

{{ ncu_profile_res }} 


### 算子的历史优化路径
{{ optimize_history }}